################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharpConsoleTesting/.vs/CSharpConsoleTesting/v17/.suo
*.vsidx
/CSharpConsoleTesting/.vs/CSharpConsoleTesting/FileContentIndex/e737a463-aa4b-41d6-a9a4-cad3b59559ac.vsidx
/CSharpConsoleTesting/CSharpConsoleTesting/obj/Debug/CSharpConsoleTesting.pdb
/CSharpConsoleTesting/CSharpConsoleTesting/obj/Debug/CSharpConsoleTesting.exe
/CSharpConsoleTesting/CSharpConsoleTesting/bin/Debug/CSharpConsoleTesting.pdb
/CSharpConsoleTesting/CSharpConsoleTesting/bin/Debug/CSharpConsoleTesting.exe
QliqOS/OptionsXMacroReading/bin/Debug/net7.0/OptionsXMacroReading.dll
QliqOS/OptionsXMacroReading/bin/Debug/net7.0/OptionsXMacroReading.exe
QliqOS/OptionsXMacroReading/bin/Debug/net7.0/OptionsXMacroReading.pdb
QliqOS/OptionsXMacroReading/obj/Debug/net7.0/refint/OptionsXMacroReading.dll
QliqOS/OptionsXMacroReading/obj/Debug/net7.0/ref/OptionsXMacroReading.dll
QliqOS/OptionsXMacroReading/obj/Debug/net7.0/OptionsXMacroReading.pdb
QliqOS/OptionsXMacroReading/obj/Debug/net7.0/OptionsXMacroReading.GlobalUsings.g.cs
QliqOS/OptionsXMacroReading/obj/Debug/net7.0/OptionsXMacroReading.genruntimeconfig.cache
QliqOS/OptionsXMacroReading/obj/Debug/net7.0/OptionsXMacroReading.GeneratedMSBuildEditorConfig.editorconfig
QliqOS/OptionsXMacroReading/obj/Debug/net7.0/OptionsXMacroReading.dll
QliqOS/OptionsXMacroReading/obj/Debug/net7.0/OptionsXMacroReading.csproj.FileListAbsolute.txt
QliqOS/OptionsXMacroReading/obj/Debug/net7.0/OptionsXMacroReading.csproj.CoreCompileInputs.cache
QliqOS/OptionsXMacroReading/obj/Debug/net7.0/OptionsXMacroReading.csproj.AssemblyReference.cache
QliqOS/OptionsXMacroReading/obj/Debug/net7.0/OptionsXMacroReading.assets.cache
QliqOS/OptionsXMacroReading/obj/Debug/net7.0/OptionsXMacroReading.AssemblyInfoInputs.cache
QliqOS/OptionsXMacroReading/obj/Debug/net7.0/OptionsXMacroReading.AssemblyInfo.cs
QliqOS/OptionsXMacroReading/obj/Debug/net7.0/apphost.exe
QliqOS/OptionsXMacroReading/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
QliqOS/OptionsXMacroReading/obj/project.nuget.cache
QliqOS/OptionsXMacroReading/OptionsXMacroReading.csproj
QliqOS/OptionsXMacroReading/bin/Debug/net7.0/OptionsXMacroReading.deps.json
QliqOS/OptionsXMacroReading/bin/Debug/net7.0/OptionsXMacroReading.runtimeconfig.json
QliqOS/OptionsXMacroReading/obj/OptionsXMacroReading.csproj.nuget.dgspec.json
QliqOS/OptionsXMacroReading/obj/OptionsXMacroReading.csproj.nuget.g.props
QliqOS/OptionsXMacroReading/obj/OptionsXMacroReading.csproj.nuget.g.targets
QliqOS/OptionsXMacroReading/obj/project.assets.json
QliqOS/OptionsXMacroReading/.vs/OptionsXMacroReading/DesignTimeBuild/.dtbcache.v2
QliqOS/OptionsXMacroReading/.vs/OptionsXMacroReading/v17/.futdcache.v2
QliqOS/OptionsXMacroReading/.vs/OptionsXMacroReading/v17/.suo
